@import "./base.css";
@import "./tei.css";

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: grid;
  grid-template-columns: 16rem 1fr;
}

.no-list {
  list-style: none;
  padding-inline-start: 0;
}
